git+https://github.com/The-Dev-Effect/reliquery.git@main
aiohttp
aiosignal
alembic
anyio
attrs
black
bleach
certifi
cffi
charset-normalizer
click
contourpy
cycler
einops
faster-whisper
fastjsonschema
flake8
fonttools
frozenlist
greenlet
h11
hf-xet
httpcore
httpx
huggingface-hub
HyperPyYAML
idna
joblib
jsonschema
julius
kiwisolver
lightning
lightning-utilities
Mako
markdown-it-py
mccabe
multidict
mypy_extensions
omegaconf
optuna
packaging
pathspec
platformdirs
pluggy
primePy
propcache
protobuf
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
pytest
python-dateutil
pytokens
pytorch-lightning
pytorch-metric-learning
pytz
pyzmq
referencing
roman-numerals-py
rpds-py
ruamel.yaml
ruamel.yaml.clib
semver
sentencepiece
shellingham
six
sniffio
sortedcontainers
soupsieve
srt
tabulate
tensorboardX
threadpoolctl
tinycss2
torch-audiomentations
torch_pitch_shift
torchcodec
torchmetrics
tornado
traitlets
typer
typing_extensions
tzdata
urllib3
vosk
websockets
yarl
pyannote-audio
soundfile
